
<div style = "background:green">
  <h2 style = "font-family: courier">Your form inputs</h2>
  <h4>Student name</h4>
  <h3>
    <%= @name %>
  </h3>
  <h4>Grade</h4>
  <h3>
    <%= @grade_level %>
  </h3>
  <h4>University</h4>
  <h3>
    <%= @university%>
  </h3>
</div>